{% extends 'base.html' %}

{% block content %}

    <h4>

      Nitrogen: {{prediction_object.nitrogen}}
      <br><br>
      Phosphorus: {{prediction_object.phosphorus}}
      <br><br>
      Potassium: {{prediction_object.potassium}} 
      <br><br>
      pH value: {{prediction_object.pH_value}}
      <br><br>
      Season: {{prediction_object.season}} 
      <br><br>
      District: {{prediction_object.district}} 
      <br><br>
      Soil Quality: {{prediction_object.soil_quality}}
      <br><br>
      Suggested crop: {{prediction_object.crop}}
      <br><br>
      Suggested Pesticide: {{pesticide}}

    </h4>

{% endblock %}
