{% extends 'base.html' %}

{% block content %}

    <h4>Advice:</h4>
    <h1> {{prediction_object.advice}} </h1>

    <h4>
      Nitrogen: {{prediction_object.nitrogen}}
      <br><br>
      Phosphorus: {{prediction_object.phosphorus}}
      <br><br>
      Potassium: {{prediction_object.potassium}} 
      <br><br>
      pH value: {{prediction_object.pH_value}}
      <br><br>
      Season: {{prediction_object.season}} 
      <br><br>
      District: {{prediction_object.district}} 
      <br><br>
      Soil Quality: {{prediction_object.soil_quality}}
      <br><br>
      Suggested crop: {{prediction_object.crop}}
      <br><br>
      
      Suggested Pesticides: 
      <br><br>
      <table style="width:100%" border="1">
        <tr>
          <th>Pesticide</th>
          <th>Dieses</th>
        </tr>
        {% for row in prediction_object.pesticides %}
          <tr>
            {% for element in row %}
              <td>{{element}}</td>
            {% endfor %}
          </tr>
        {% endfor %}
      </table>

      <br><br>
      Suggested Insecticides: 
      <br><br>
      <table style="width:100%" border="1">
        <tr>
          <th>Insecticide</th>
          <th>Pests</th>
        </tr>
        {% for row in prediction_object.insecticides %}
          <tr>
            {% for element in row %}
              <td>{{element}}</td>
            {% endfor %}
          </tr>
        {% endfor %}
      </table>

    </h4>

{% endblock %}
